nav.sticky{
    padding: 0;
}
.navbar{
    padding:0.5rem 0rem!important;
}
/* Banner */
.banner .content h2{
    font-weight:700;
    font-size:1.5em;
}
.stats{
    font-size:0.7rem;
}
/* about section */
.about {
	padding: 0;
	margin: 2rem 0rem;
}
.about .imgBx img {
	display: none;
}
.about .row {
	margin: 0;
}
/* Photography */
#photography {
	margin: 0rem;
	margin-bottom: 2rem;
}
/* footer */
#main-footer .footer-container {
    grid-template-columns: 1fr;
  }
#main-footer .footer-container > *:last-child {
	grid-column: 1;
}

#main-footer .footer-container > *:first-child,
#main-footer .footer-container > *:nth-child(2) {
	border-bottom: #444 dotted 1px;
	padding-bottom: 1rem;
}
